JWT_SECRET=

DB_URL=jdbc:
DB_USER=
DB_PASSWORD=

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth2 Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Frontend redirect URI for OAuth callback
OAUTH2_REDIRECT_URI=

