spring:
  profiles:
    active: ${env.SPRING_PROFILES_ACTIVE:local}

  datasource:
    url: ${env.DB_URL}
    username: ${env.DB_USER}
    password: ${env.DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${env.GOOGLE_CLIENT_ID}
            client-secret: ${env.GOOGLE_CLIENT_SECRET}
            redirect-uri: "https://milestone-tracker-f3or.onrender.com/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
          github:
            client-id: ${env.GITHUB_CLIENT_ID}
            client-secret: ${env.GITHUB_CLIENT_SECRET}
            redirect-uri: "https://milestone-tracker-f3or.onrender.com/login/oauth2/code/{registrationId}"
            scope:
              - read:user
              - user:email
        provider:
          github:
            user-info-uri: https://api.github.com/user
            user-name-attribute: id

jwt:
  secret: ${env.JWT_SECRET}

oauth2:
  frontend-redirect: ${env.OAUTH2_REDIRECT_URI:http://localhost:3000/oauth2/callback}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
